/* From Uiverse.io by 3bdel3ziz-T */ 
.selectt {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selectedd {
  background-color: #2a2f3b;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 12;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arroww {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 12;
  transition: 300ms;
}

.optionss {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.selectt:hover > .optionss {
  opacity: 1;
  top: 0;
}

.selectt:hover > .selectedd .arroww {
  transform: rotate(0deg);
}

.optionn {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 60px;
  font-size: 15px;
}
.optionn:hover {
  background-color: #323741;
}

.optionss input[type="radio"] {
  display: none;
}

.optionss label {
  display: inline-block;
}
.optionss label::before {
  content: attr(data-txt);
}

.optionss input[type="radioo"]:checked + label {
  display: none;
}

.optionss input[type="radioo"]#all:checked + label {
  display: none;
}

.selectt:has(.optionss input[type="radioo"]#all:checked) .selectedd::before {
  content: attr(data-default);
}
.selectt:has(.optionss input[type="radioo"]#option-1:checked) .selectedd::before {
  content: attr(data-one);
}
.selectt:has(.optionss input[type="radioo"]#option-2:checked) .selectedd::before {
  content: attr(data-two);
}
.selectt:has(.optionss input[type="radioo"]#option-3:checked) .selectedd::before {
  content: attr(data-three);
}
